version: "3"
services:
  ingress:
    image: nginx
    container_name: ingress
    restart: always
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./nginx/well-known:/etc/nginx/well-known:ro
    ports:
    - 80:80
    - 443:443
    command: [ nginx-debug, '-g', 'daemon off;' ]
    networks:
      - dc-net
networks:
  dc-net:
    driver: bridge
    name: dc-net